---
import Layout from "../layouts/Layout.astro";
import AboutComponent from "../components/blog.astro";
---

<Layout title="CED Anna University">
    <section>
        <AboutComponent/>
         
    </section>
</Layout>