---
import Layout from '../layouts/Layout.astro';
import Buzz from '../components/buzz.astro';
---

<Layout title="CED Anna University">
    <section>
        <Buzz />    
    </section>
         
</Layout>
