---
import Layout from "../layouts/Layout.astro";
import CeeComponent from "../components/cee.astro";
---

<Layout title="CED Anna University">
    <section>
        <CeeComponent/>
         
    </section>
</Layout>