---
import Layout from '../layouts/Layout.astro';
import ContactHeader from '../components/ContactHeader.astro';
import ContactInfo from '../components/ContactInfo.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="CED Anna University">
    <section>
        <ContactHeader />
<ContactInfo />
<ContactForm />
</section>

         
</Layout>

