---
import Layout from "../layouts/Layout.astro";
import CurriculumComponent from "../components/curriculum.astro";
---

<Layout title="CED Anna University">
    <section>
        <CurriculumComponent/>
         
    </section>
</Layout>