---
import Layout from "../layouts/Layout.astro";
import DirectorMessage from "../components/director.astro";
---

<Layout title="CED Anna University">
    <section>
        <DirectorMessage/>
         
    </section>
</Layout>