---
import Layout from "../layouts/Layout.astro";
import DPIIT from "../components/dpiit.astro";
---

<Layout title="CED Anna University">
    <section>
        <DPIIT/>
         
    </section>
</Layout>