---
import Layout from "../layouts/Layout.astro";
import GrantsReceivedComponent from "../components/grants_received.astro";
---

<Layout title="CED Anna University">
    <section>
        <GrantsReceivedComponent/>
         
    </section>
</Layout>