---
import Layout from "../layouts/Layout.astro";
import GrantsComponent from "../components/grants.astro";
---

<Layout title="CED Anna University">
    <section>
        <GrantsComponent/>
         
    </section>
</Layout>