---
import Layout from "../layouts/Layout.astro";
import IicComponent from "../components/iic.astro";
---

<Layout title="CED Anna University">
    <section>
        <IicComponent/>
         
    </section>
</Layout>