---
import Layout from "../layouts/Layout.astro";
import ImprentComponent from "../components/Imprent.astro";
---

<Layout title="CED Anna University">
    <section>
        <ImprentComponent/>
         
    </section>
</Layout>