---
import Layout from "../layouts/Layout.astro";
import IncubationComponent  from "../components/incubation.astro";
---

<Layout title="CED Anna University">
    <section>
        <IncubationComponent/>
         
    </section>
</Layout>



