---
import Layout from "../layouts/Layout.astro";
import MyVillageComponent from "../components/MyVillage.astro";
---

<Layout title="CED Anna University">
  <section>
    <MyVillageComponent />
  </section>
</Layout>
