---
import Layout from "../layouts/Layout.astro";
import PreIncubationForm from "../components/pree-incubationForm.astro";
---

<Layout title="CED Anna University">
  <section class="py-5">
    <PreIncubationForm />
  </section>
</Layout>
