---
import Layout from "../layouts/Layout.astro";
import RusaComponent from "../components/projects_rusa.astro";
---

<Layout title="CED Anna University">
    <section>
        <RusaComponent/>
         
    </section>
</Layout>