---
import Layout from "../layouts/Layout.astro";
import Rise100Component from "../components/projects_rise100.astro";
---

<Layout title="CED Anna University">
    <section>
        <Rise100Component/>
         
    </section>
</Layout>