---
import Layout from "../layouts/Layout.astro";
import TNYIEDPComponent from "../components/projects_tnyiedp.astro";
---

<Layout title="CED Anna University">
    <section>
        <TNYIEDPComponent/>
         
    </section>
</Layout>