---
import Layout from "../layouts/Layout.astro";
import IEDPComponent from "../components/projects_iedp.astro";
---

<Layout title="CED Anna University">
    <section>
        <IEDPComponent/>
         
    </section>
</Layout>