---
import Layout from '../layouts/Layout.astro';
import Puthulir_Event from '../components/Puthulir.astro';
---

<Layout title="CED Anna University">
    <section>
        <Puthulir_Event />    
    </section>
         
</Layout>




