<section class="py-5">
  <div class="container">

    <!-- TITLE -->
    <div class="text-center mb-5">
      <h2 class="text-gradient text-primary">Innovation Grants Received</h2>
      <p class="lead">by Students (2024–25)</p>
    </div>

    <!-- TABLE -->
    <div class="table-responsive shadow rounded-4 bg-white p-4">
      <table class="table table-bordered align-middle">
        <thead class="table-light">
          <tr>
            <th>Name of Organization</th>
            <th class="text-center">Amount of Grant Received</th>
            <th class="text-center">Startup / Project Name</th>
            <th class="text-center">Grant Name</th>
            <th class="text-center">College Name</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Balakamalam Environmental Fund</td>
            <td class="text-center">₹82,630</td>
            <td class="text-center">Cool Bricks</td>
            <td class="text-center">ClimateTech Grant</td>
            <td class="text-center">Thiagarajar College of Engineering, Guindy</td>
          </tr>

          <tr>
            <td>Balakamalam Environmental Fund</td>
            <td class="text-center">₹1,00,000</td>
            <td class="text-center">CoCos Paper</td>
            <td class="text-center">ClimateTech Grant</td>
            <td class="text-center">Nehru Institute of Technology</td>
          </tr>

          <tr>
            <td>Balakamalam Environmental Fund</td>
            <td class="text-center">₹85,000</td>
            <td class="text-center">Feather Waste Recycling</td>
            <td class="text-center">ClimateTech Grant</td>
            <td class="text-center">Sri Venkateswara College of Engineering</td>
          </tr>

          <tr>
            <td>Balakamalam Environmental Fund</td>
            <td class="text-center">₹30,000</td>
            <td class="text-center">Millet Cheese</td>
            <td class="text-center">ClimateTech Grant</td>
            <td class="text-center">A.C Tech Campus, Anna University</td>
          </tr>

          
        </tbody>
      </table>
    </div>

  </div>
</section>
