
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="text-gradient text-primary text-center">DPIIT Recognized Startups</h2>
        <p class="lead mb-5">Supported by CED-AU</p>
      </div>







<div class="col-lg-2 d-none d-lg-block">
  <div class="logo-scroll-wrapper">
  <h5 class="logo-heading">Notable Startups</h5>
  <div class="logo-scroll">
    <div class="logo-scroll-track">

      <img src="/assets/img/instagood.jpg" class="dpiit-logo">
      <div class="bg-dark p-3 rounded w-100 text-center">
        <img src="/assets/img/mini ekectric.svg" class="dpiit-logo">
      </div>
      <img src="/assets/img/motorx1.png" class="dpiit-logo">
      <img src="/assets/img/vivi.webp" class="dpiit-logo">
      <img src="/assets/img/evoxia.jpg" class="dpiit-logo">


      <!-- duplicate for smooth scroll -->
      <img src="/assets/img/instagood.jpg" class="dpiit-logo">
      <div class="bg-dark p-3 rounded w-100 text-center">
        <img src="/assets/img/mini ekectric.svg" class="dpiit-logo">
      </div>
      <img src="/assets/img/motorx1.png" class="dpiit-logo">
      <img src="/assets/img/vivi.webp" class="dpiit-logo">

    </div>
  </div>
</div>
</div>






<div class="col-lg-10">
<section class="py-3">
  <div class="container">
    <div class="row justify-space-between py-2">
      <div class="col-lg-4 ms-auto">
        <div class="nav-wrapper position-relative">
          <ul class="nav  nav-fill flex-column p-1 me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <li class="nav-item">
              <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#2025-26" role="tab" aria-controls="v-pills-home" aria-selected="true">2025-26</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#2024-25" role="tab" aria-controls="v-pills-profile" aria-selected="false">2024-25</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#2023-24" role="tab" aria-controls="v-pills-messages" aria-selected="false">2023-24</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#2022-23" role="tab" aria-controls="v-pills-settings" aria-selected="false">2022-23</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#2021-22" role="tab" aria-controls="v-pills-settings" aria-selected="false">2021-22</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 me-auto my-auto text-start">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="2025-26" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-light">
              <tr>
                <th class="ps-2">
                  <h6 class="mb-0">Venture Name</h6>
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">Year of recognition</h6>
                
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">DPIIT No.</h6>
                
                </th>
               
              </tr>
            </thead>
            <tbody>

<tr>
  <td class="py-3">
    <span class="text-xs">Motor-X India Mobility Pvt. Ltd.</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2025-26</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP208345</i>
  </td>
</tr>

            </tbody>
          </table>
        </div>
          </div>
          <div class="tab-pane fade" id="2024-25" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                   <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-light">
              <tr>
                <th class="ps-2">
                  <h6 class="mb-0">Venture Name</h6>
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">Year of recognition</h6>
                
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">DPIIT No.</h6>
                
                </th>
               
              </tr>
            </thead>
            <tbody>
 
<tr>
  <td class="py-3">
    <span class="text-xs">Evoxia Labs India Pvt. Ltd.</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP174945</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Digipolis Technologies Private limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP184951</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Bugbysterslabs Private limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP148569</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Jedik Motors</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP153330</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Skypler AI Technologies Private limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP145679</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Sky Spectacle Drone Shows Private Limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP142632</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Fabrula Private limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP169164</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Netzero E-Waste India Private limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP136753</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">MACHKG ICT LLP</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP128710</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Ecourja Innovations (OPC) Private limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP196207</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Sumit Healthtech Private limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP54974</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">SpritOn Innovations LLP</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP139201</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Telspell Dictation Technologies Private limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2024-25</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP189577</i>
  </td>
</tr>


            </tbody>
          </table>
        </div>
          </div>
          <div class="tab-pane fade" id="2023-24" role="tabpanel" aria-labelledby="v-pills-messages-tab">
               <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-light">
              <tr>
                <th class="ps-2">
                  <h6 class="mb-0">Venture Name</h6>
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">Year of recognition</h6>
                
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">DPIIT No.</h6>
                
                </th>
               
              </tr>
            </thead>
            <tbody>

<tr>
  <td class="py-3">
    <span class="text-xs">Value1 Tech Innovations Private Limitted</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP137801</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Tiden Mobility Private Limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP134640</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">BRZA Tech / Service Geni</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP145442</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Servicewired Technology Solutions Private Limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP131779</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Samruva Technologies</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP143715</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Al-Zira</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP156154</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">NOQU</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP152400</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">TriOx</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP150330</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Reneonix Private Limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP156887</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Chittam Private Limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP142286</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">INFINTIN MOBILITY SOLUTIONS PVT LTD</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP155855</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Tamizh</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP145562</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">GyanMatrix Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP153511</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">ETASMART PVT LTD</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP145336</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">GECA INNOTECH PVT LTD</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP141392</i>
  </td>
</tr>

<tr>
  <td class="py-3">
    <span class="text-xs">Thermo Desalyn Innovation Technology Pvt Ltd (aka.</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP150269</i>
  </td>
</tr>

<tr>
  <td class="py-3">
    <span class="text-xs">Climatequant</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPPI58253</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">D-Rube Labs and Research Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP123275</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Ausmit technology pvt. ltd.</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2023-24</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP155726</i>
  </td>
</tr>


            </tbody>
          </table>
        </div>
          </div>
          <div class="tab-pane fade" id="2022-23" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-light">
              <tr>
                <th class="ps-2">
                  <h6 class="mb-0">Venture Name</h6>
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">Year of recognition</h6>
                
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">DPIIT No.</h6>
                
                </th>
               
              </tr>
            </thead>
            <tbody>
     
<tr>
  <td class="py-3">
    <span class="text-xs">Vividobots Private Limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP81921</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">TRIZ AI Private Limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP81704</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Sharkitude Private Limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP82453</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Instagood Tech Solutions Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP81356</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">IM Robonix</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP95130</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Harvtech</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP101548</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Aatral ESP</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP113070</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Ecocharm</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP98377</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Spacetug</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP106519</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">AtumX Innovations</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP117659</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">MEINE Electric Automotives Pvt. Ltd.</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP118941</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Zech Innovation (OPC) Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP108716</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">REUDE</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP113120</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Mithron India Smart Service Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP112063</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Seinilam Agri Business Culture Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP115933</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Teraact City</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP121920</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Xact Dignotek Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP136234</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Micha Lifesciences Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP39007</i>
  </td>
</tr>

<tr>
  <td class="py-3">
    <span class="text-xs">Maasta</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2022-23</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP125853</i>
  </td>
</tr>


            </tbody>
          </table>
        </div>
          </div>

          <div class="tab-pane fade" id="2021-22" role="tabpanel" aria-labelledby="v-pills-settings-tab">
             <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-light">
              <tr>
                <th class="ps-2">
                  <h6 class="mb-0">Venture Name</h6>
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">Year of recognition</h6>
                
                </th>
                <th class="text-center">
                  <h6 class="font-weight-bold">DPIIT No.</h6>
                
                </th>
               
              </tr>
            </thead>
            <tbody>
             <tr>
  <td class="py-3">
    <span class="text-xs">Fititout Solutions</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2021-22</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP78649</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Destratum Solutions Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2021-22</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP98045</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Blinc Smart Home Solutions Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2021-22</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP94680</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Hedvuk Private Limited</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2021-22</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP89342</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Primas Bioscience Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2021-22</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP39862</i>
  </td>
</tr>
<tr>
  <td class="py-3">
    <span class="text-xs">Genprotic Biopharma Pvt Ltd</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2021-22</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP76511</i>
  </td>
</tr>

<tr>
  <td class="py-3">
    <span class="text-xs">Small Acts Tech Pvt Ltd (mSiren)</span>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">2021-22</i>
  </td>
  <td class="text-center py-3">
    <i class="fas fa-check text-primary text-xs">DIPP50280</i>
  </td>
</tr>


            </tbody>
          </table>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
       
      </div>
    </div>
  </div>
</section>

<style>

.logo-heading {
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 25px;
  color: #101011ff;
}

/* ===== LOGO SCROLL BOX ===== */
.logo-scroll {
  height: 520px;                 /* visible area */
  overflow: hidden;
  position: relative;
}

.dpiit-logo {
  max-height: 130px;
  width: 100%;
  object-fit: contain;
  
  transition: all 0.3s ease;
}

.dpiit-logo:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.row.justify-content-end {
  justify-content: flex-end !important;
}


/* Table content */
.text-xs {
  font-size: 16px !important;
  line-height: 1.6;
}

/* Year & DPIIT value */
.table td i {
  font-size: 15px;
  font-style: normal;
}

/* Table headings */
.table thead h6 {
  font-size: 18px;
  font-weight: 700;
}

/* Left year tabs */
.nav-link {
  font-size: 18px;
  font-weight: 600;
}

.nav-link.active {
  font-size: 19px;
}


/* ================= LOGO SIDE SCROLL ================= */

.logo-scroll-wrapper {
  height: 520px;
  overflow: hidden;
  position: sticky;
  top: 220px;
}

.logo-scroll-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: logoScroll 10s linear infinite;
  gap: 25px;
}

.logo-scroll-wrapper:hover .logo-scroll-track {
  animation-play-state: paused;
}

@keyframes logoScroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}


</style>