<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('./assets/img/services/fdp.jpeg')">
    <span class="mask bg-gradient-primary"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-3 mt-n5">Faculty Development Program on <br><br></h1>
          <h1 class="text-white pt-3 mt-n5">Innovation & Entrepreneurship  </h1>
          <p></p>
        </div>
      </div>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>
<section class="py-5" style="padding-top:0;">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-lg-12">
        <h3 class="mt-10">
          <span class="text-gradient text-info"> Organized by: Centre for Entrepreneurship Development (CED), Anna University, Chennai
           </span>
          <br><span> Dates: November 25 - November 30, 2024 <br>
            </span>
        </h3>
        <p class="lead" style="text-align: justify;">
          Mode: Offline<br>
          Venue: CED, Anna University, Chennai 25<br><br>
          
                This Faculty Development Program (FDP) focuses on fostering innovation and entrepreneurship skills among educators, providing them with the tools, methodologies, and frameworks to inspire and guide students in entrepreneurial pursuits. Through interactive sessions, case studies, and practical workshops, participants will learn about the foundations of innovation, business model development, and the ecosystem for startups.
          
         <br><b>Key Details:</b> 
          
          Application Deadline: November 22, 2024<br>
          Target Audience: Faculty members interested in innovation and entrepreneurship education<br><br>
          This six-day FDP will equip participants with the knowledge and skills required to drive entrepreneurial initiatives within academic settings and beyond, aligning with the latest trends and needs in entrepreneurship education.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-4">
        <!-- Start Card Blog Fullbackground - text centered -->
        <a href="javascript:;">
          <div class="card card-background move-on-hover">
            <div class="full-background" style="background-image: url(&#39;/./assets/img/services/fdp.jpeg&#39;)"></div>
            <div class="card-body pt-12">
              
            </div>
          </div>
        </a>
        <!-- End Card Blog Fullbackground - text centered -->
      </div>
      <div class="col-lg-4">
        <!-- Start Card Blog Fullbackground - text centered -->
        <a href="javascript:;">
          <div class="card card-background move-on-hover">
            <div class="full-background" style="background-image: url(&#39;./assets/img/services/fdp.jpg&#39;)"></div>
            <div class="card-body pt-12">
             
            </div>
          </div>
        </a>
        <!-- End Card Blog Fullbackground - text centered -->
      </div>
      <div class="col-lg-4">
        <!-- Start Card Blog Fullbackground - text centered -->
        <a href="javascript:;">
          <div class="card card-background move-on-hover">
            <div class="full-background" style="background-image: url(&#39;./assets/img/services/fdpp.jpg&#39;)"></div>
            <div class="card-body pt-12">
              <h4 class="text-white"></h4>
              <p></p>
            </div>
          </div>
        </a>
        <!-- End Card Blog Fullbackground - text centered -->
      </div>

    </div>
  </div>
</section>



<section class="py-5">
  <div class="container-fluid">
    <div class="row">
      <h2 class="mb-0 mt-lg-0 mt-4 text-gradient text-info" style="text-align: center;">Institutes associated with CED, Anna University in 2023-24</h2>
      <h5 class="mb-4"style="text-align: center;">(Participated in variuos Programs)</h5>
      <div class="col-lg-4 col-10 d-flex justify-content-center flex-column mx-auto text-lg-start text-center">
        <h2 class="mb-0 mt-lg-0 mt-4 text-gradient text-warning">Anna University Engineering Institutions</h2>        
        <ul class="m-lg-2 m-auto">

          <li class="lead mb-2">Varuvan Vadivelan Institute of Technology </li>
          <li class="lead mb-2">Bharathiyar institute of Engineering for Women</li>
          <li class="lead mb-2">Tagore Institute of Engineering & Technology</li>
          <li class="lead mb-2">J K K Natraja College of Engineering & Technology</li> 
          <li class="lead mb-2">JKKN College of Engineering & Technology</li>
          <li class="lead mb-2">Christ the King Engineering College, Coimbatore</li>
          <li class="lead mb-2">Jai Shriram Engineering College</li>
          <li class="lead mb-2">Knowledge Institute of Technology</li>
          <li class="lead mb-2">Builders Engineering College</li>
          <li class="lead mb-2">Vivekananda College of Technology for Women, Tiruchengode</li>
          <li class="lead mb-2">CSI College of Engineering Ketti</li>
          <li class="lead mb-2">Erode Sengunthar Engineering College</li>
          <li class="lead mb-2">Hindusthan College of Engineering & Technology, Coimbatore</li>
          <li class="lead mb-2">Government College of Engineering ,Erode</li>
          <li class="lead mb-2">Karpagam College of Engineering</li>
          <li class="lead mb-2">Kongu Engineering College</li>
          <li class="lead mb-2">Kumaraguru College of Technology</li>
          <li class="lead mb-2">Sri Krishna College of Engineering & Technology</li>
          <li class="lead mb-2">Sri Ramakrishna Engineering College</li>
          <li class="lead mb-2">Info Institute of Engineering</li>
          <li class="lead mb-2">SNS College of Technology</li>
          <li class="lead mb-2">Karpagam Institute of Technology</li>
          <li class="lead mb-2">Sri Sai Ranganathan Engineering College</li>
          <li class="lead mb-2">Sri Eshwar College of Engineering</li>
          <li class="lead mb-2">Hindustan Institute of Technology & Science</li>
          <li class="lead mb-2">P.A. College of Engineering & Technology</li>
          <li class="lead mb-2">Dhanalakshmi Srinivasan College of Engineering, Coimbatore</li>
          <li class="lead mb-2">Adithya Institute of Technology</li>
          <li class="lead mb-2">KIT - KalaignarKarunanidhi Institute of Technology</li>
          <li class="lead mb-2">Nehru institute of Technology, Coimbatore</li>
          <li class="lead mb-2">United Institute of Technology</li>
          <li class="lead mb-2">Jansons Institute of Technology</li>
          <li class="lead mb-2">Akshaya College of Engineering & Technology</li>
          <li class="lead mb-2">KPR Institute of Engineering & Technology</li>
          <li class="lead mb-2">Study World College of Engineering, Coimbatore</li> 
          <li class="lead mb-2">CMS College of Engineering & Technology, Coimbatore.</li>
          <li class="lead mb-2">RVS Technical Campus</li>
          <li class="lead mb-2">University College of Engineering Tiruchirapalli</li>
          <li class="lead mb-2">Krishnasamy College of Engineering & Technology</li>
          <li class="lead mb-2">CK College of Engineering & Technology</li>
          <li class="lead mb-2">Nellaiandavar Institute of Technology </li>
          <li class="lead mb-2">K Ramakrishnan College of Technology</li>
          <li class="lead mb-2">M A M School of Engineering Trichy</li>
          <li class="lead mb-2">SRM TRP Engineering College</li>
          <li class="lead mb-2">Dhanalakshmi Srinivasan Engineering College(A) Perambalur</li>
          <li class="lead mb-2">E.G.S. Pillay Engineering College</li>
          <li class="lead mb-2">Mookambigai College of Engineering</li>
          <li class="lead mb-2">P.R Engineering College</li>
          <li class="lead mb-2">Dr.Navalar Nedunchezhiyan College of Engineering </li>
          <li class="lead mb-2">Kongunadu College of Engineering & Technology (Autonomous)</li>
          <li class="lead mb-2">M. A. M College of Engineering & Technology</li>
          <li class="lead mb-2">K. Ramakrishnan College of Engineering</li>
          <li class="lead mb-2">M R K Institute of Technology</li>
          <li class="lead mb-2">Imayam College of Engineering</li>
          <li class="lead mb-2">Sembodai Rukmani Varatharajan Engineering College</li>
          <li class="lead mb-2">Sudharsan Engineering College</li>
          <li class="lead mb-2">Anna University Regional Campus Tirunelveli</li>
          <li class="lead mb-2">University College of Engineering Nagercoil</li>
          <li class="lead mb-2">University V.O.C College of Engineering Thoothukudi</li>
          <li class="lead mb-2">Ramco Institute of Technology</li>
          <li class="lead mb-2">AAA College of Engineering & Technology</li>
          <li class="lead mb-2">St. Mother Theresa Engineering College, Vagaikulam </li>
          <li class="lead mb-2">Unnamalai Institute of Technology</li>
          <li class="lead mb-2">Arunachala College of Engineering for Women</li>
          <li class="lead mb-2">Francis Xavier Engineering College</li>
          <li class="lead mb-2">Jayaraj Annapackiam CSI College of Engineering</li>
          <li class="lead mb-2">Mepco Schlenk Engineering College</li>
          <li class="lead mb-2">Nellai College of Engineering</li>
          <li class="lead mb-2">P.S.R Engineering College</li>
          <li class="lead mb-2">Sardar Raja College of Engineering</li>
          <li class="lead mb-2">Sree Sowdambika College of Engineering Aruppukottai</li>
          <li class="lead mb-2">St Xavier's Catholic College of Engineering</li>
          <li class="lead mb-2">Dr.G.U.Pope College of Engineering</li>
          <li class="lead mb-2">PonJesly College of Engineering</li>
          <li class="lead mb-2">JP College of Engineering</li>
          <li class="lead mb-2">Sri Vidya College of Engineering & Technology</li>
          <li class="lead mb-2">Annai Vailankanni College of Engineering</li>
          <li class="lead mb-2">Thiagarajar College of Engineering, Madurai</li>
          <li class="lead mb-2">Anna University Regional Campus, Madurai</li>
          <li class="lead mb-2">University College of Engineering , Dindigul</li>
          <li class="lead mb-2">SSM Institute of Engineering & Technology</li>
          <li class="lead mb-2">Vaigai College of Engineering</li>
          <li class="lead mb-2">Mangayarkarasi College of Engineering</li>
          <li class="lead mb-2">SRM Madurai College for Engineering & Technology</li>
          <li class="lead mb-2"> Nadar Saraswathi College of Engineering & Technology</li>
          <li class="lead mb-2"> P S N A College of Engineering & Technology,Dindigul.</li>
          <li class="lead mb-2"> Solamalai College of Engineering</li>
          <li class="lead mb-2">SACS MAVMM Engineering College, Madurai</li>
          <li class="lead mb-2"> Fatima Michael College of Engineering & Technology</li>
          <li class="lead mb-2">Ultra College of Engineering & Technology</li>
          <li class="lead mb-2"> Velammal College of Engineering & Technology</li>
          <li class="lead mb-2"> Vasavi Vidya Trust Group of Institutions, Salem</li>

          
        </ul>
        
      </div>
      <div class="col-lg-4 col-10 d-flex justify-content-center flex-column mx-auto text-lg-start text-center">
        <h2 class="mb-0 mt-lg-0 mt-4 text-gradient text-warning">Other Institutions including Arts & Science and Polytechnic</h2>

        
        <ul class="m-lg-2 m-auto">

            <li class="lead mb-2"> Akshaya Arts & Science College, Coimbatore</li>
                <li class="lead mb-2">Amrita Vishwa Vidyapeetham</li>
                    <li class="lead mb-2">Annai violet Arts & Science College</li>
                        <li class="lead mb-2">B.S.Abdur Rahman Crescent Institute of Science & Technology</li>
                            <li class="lead mb-2">College of Agriculture Vellayani</li>
                                <li class="lead mb-2">Defence Institute of Advanced Technology</li>
                                    <li class="lead mb-2">Gurunanak College</li>
                                        <li class="lead mb-2">Hansraj College</li>
                                            <li class="lead mb-2">Kongu Arts & Science College, Erode</li>
                                                <li class="lead mb-2">Nehru Institute of Information Technology & Management</li>
                                                    <li class="lead mb-2">Nehru College of Engineering, Coimbatore</li>
                                                        <li class="lead mb-2">Oriental College of Technology</li>
                                                            <li class="lead mb-2">Pavai College of Technology</li>
                                                                <li class="lead mb-2">PES University</li>
                                                                    <li class="lead mb-2">PRIST Deemed University</li>
                                                                        <li class="lead mb-2">RVS Institute of Management Studies</li>
                                                                            <li class="lead mb-2">Saveetha School of Management</li>
                                                                                <li class="lead mb-2">Sri Ramakrishna College of Arts & Science </li>
                                                                                    <li class="lead mb-2">SRM institute of Science & Technology</li>
                                                                                        <li class="lead mb-2">SRM University</li>
                                                                                            <li class="lead mb-2">Thiagarajar Polytechnic College</li>
                                                                                                <li class="lead mb-2">Universal Business School</li>
                                                                                                    <li class="lead mb-2">Vellore Institute of Technology (VIT), Chennai</li>
                                                                                                        <li class="lead mb-2">Vellore Institute of Technology (VIT), Vellore</li>
                                                                                                            <li class="lead mb-2">Vinayaka Mission’s Kirupananda Variyar Engineering College, Salem</li>
                                                                                                                <li class="lead mb-2">Vivekananda Institute of Information & Management Studies</li>
                                                                                                                    <li class="lead mb-2">Vivekanandha College of Arts & Science for Women (Autonomous)</li>
                                                                                                                        <li class="lead mb-2">Army Institute of Technology, Pune</li>
                                                                                                                            <li class="lead mb-2">Arvind gavali College of Engineering satara</li>
                                                                                                                                <li class="lead mb-2">Banda University of Agriculture & Technology, banda</li>
                                                                                                                                    <li class="lead mb-2">Brindavan College of Engineering</li>
                                                                                                                                        <li class="lead mb-2">B V Raju Institute of Technology, Telengana</li>
                                                                                                                                            <li class="lead mb-2">Central University of Rajasthan </li>
                                                                                                                                                <li class="lead mb-2">COEP Technological University, Pune</li>
                                                                                                                                                    <li class="lead mb-2">Indira Gandhi National Open University</li>
                                                                                                                                                        <li class="lead mb-2">IIM Bodhgaya</li>
                                                                                                                                                            <li class="lead mb-2">IIM-Lucknow</li>
                                                                                                                                                                <li class="lead mb-2">IIT - Roorkee</li>
                                                                                                                                                                    <li class="lead mb-2">Institute of Engineering and Technology (IET), Lucknow</li>
                                                                                                                                                                        <li class="lead mb-2">Jadavpur University</li>
<li class="lead mb-2">Maharshi Markendaswar Deemed University mullana, ambala</li>
<li class="lead mb-2">Manakula Vinayagar Institute of Technology</li>
<li class="lead mb-2">Muthoot Institute of Technology & Science</li>
<li class="lead mb-2">Odisha University of Technology & Research, Bhubaneswar</li>
<li class="lead mb-2">RIT Kottayam</li>
<li class="lead mb-2">School of Management Studies, UOH</li>
<li class="lead mb-2">Shaheed Sukhkdev College of Business Studies</li>
<li class="lead mb-2">Sharad institute of Technology College of engineering Yadraw</li>
<li class="lead mb-2">Sri Indu College of Engineering & Technology, Hyderabad.</li>
<li class="lead mb-2">St. Stephen's College, Delhi</li>
<li class="lead mb-2">Symbiosis Institute of Management Studies Pune</li>
                                                                                                                                                                       



          
          </ul>
                </div>
    </div>
  </div>
</section>
<section class="py-7 mt-3">
  <div class="container">
    <div class="row justify-space-between text-center py-2">
      <div class="col-12 mx-auto">
        
        
        <a href="https://bit.ly/ced_fdp">
        <button type="button" class="btn bg-gradient-danger w-auto me-2">Register Now</button></a>
        
       
      </div>
    </div>
  </div>
</section>


