    Follow us on
              </div>
              <a href="https://linkedin.com/company/centre-for-entrepreneurship-development-anna-university/" class="dropdown-item border-radius-md">
                <span class="ps-3">LinkedIn</span>
              </a>
              <a href="https://x.com/CedUniversity" class="dropdown-item border-radius-md">
                <span class="ps-3">Twitter</span>
              </a>
              <a href="https://www.youtube.com/channel/UCEA9X9T88CqbPwlIy96g8yA/" class="dropdown-item border-radius-md">
                <span class="ps-3">YouTube </span>
              </a>


                Follow us on
                    </div>
                    <a href="https://www.linkedin.com/company/centre-for-entrepreneurship-development-anna-university/" class="dropdown-item border-radius-md">
                      <span class="ps-3">LinkedIn</span>
                    </a>
                    <a href="https://x.com/CedUniversity" class="dropdown-item border-radius-md">
                      <span class="ps-3">Twitter</span>
                    </a>
                    <a href="https://www.youtube.com/c/CEDAnnaUniversity" class="dropdown-item border-radius-md">
                      <span class="ps-3">YouTube </span>
                    </a>