<!-- START Section Content W/ 2 images aside of icon title description -->
<section class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 order-2 order-md-2 order-lg-1">
        <div class="position-relative ms-md-5 mb-0 mb-md-7 mb-lg-0 d-none d-md-block d-lg-block d-xl-block h-75">
          <div class="bg-gradient-info w-100 h-100 border-radius-xl position-absolute" ></div>
          <img src="/assets/img/hclfoundation.jpg" 
     class="w-100 border-radius-xl mt-6 ms-5 position-absolute" alt="Rise100">

        </div>
      </div>
      <div class="col-lg-5 col-md-12 ms-auto order-1 order-md-1 order-lg-1">
        <div class="p-3 pt-0">
            <div class="icon icon-shape bg-gradient-info rounded-circle shadow text-center mb-4">
              <i class="ni ni-building"></i>
            </div>
            <h4 class="text-gradient text-info mb-0">RISE100 </h4>
            <h4 class="mb-4">Grant from HCL Foundation</h4>
            <p>CED successfully facilitated the institution’s participation in the RISE100 initiative of the HCL Foundation. This prestigious grant is aimed at creating impact-driven ecosystem enablers that promote scalable innovations in education and skilling. Through this, CED secured funding support close to Rs. 50 Lakhs during (2025-26) facilitated via StartupTN to initiate grassroots innovation and entrepreneurship development activities among underserved and underrepresented communities, including school and college students in rural and peri-urban areas.</p>
            <a href="https://www.linkedin.com/posts/hclfoundation_hclfoundation-startuptn-vocationaleducation-ugcPost-7329020780917219328-yxKZ?utm_source=share&utm_medium=member_desktop&rcm=ACoAACiG7U4B2w1dFG6fr1V4SjdE32JXny75Wbk" class="text-dark icon-move-right">More about us
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
          </div>
      </div>
    </div>
    <div class="row mt-0 mt-md-5 mt-lg-8">
      <div class="col-lg-5 col-md-12 me-auto">
        <div class="p-3 pt-0">
            <div class="icon icon-shape bg-gradient-warning rounded-circle shadow text-center mb-4">
              <i class="fas fa-trophy"></i>
            </div>
            <h4 class="text-gradient text-warning mb-0">Innovation Voucher Programme (IVP) Grants</h4>
            <h4 class="mb-4">by EDII, Govt. of TN</h4>
            <p>CED has actively supported faculty and student innovators in applying for and securing Innovation Voucher Programme (IVP) grants provided by the MSME department of the Government of Tamil Nadu. These grants, aimed at early-stage product development and validation, have been instrumental in converting multiple innovative ideas into functional prototypes. CED’s pre-incubation support system, mentoring, and proposal writing assistance have been crucial in these achievements. </p>
            <a href="javascript:;" class="text-dark icon-move-right">More about us
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
          </div>
      </div>
      <div class="col-lg-6 col-md-8">
        <div class="position-relative ms-md-5 d-none d-md-block d-lg-block d-xl-block h-75">
          <div class="w-100 h-100 bg-gradient-warning border-radius-xl position-absolute" ></div>
          <img src="/assets/img/edii.jpg" 
     class="w-100 border-radius-xl mt-6 ms-n5 position-absolute" alt="">

        </div>
      </div>
    </div>
  </div>
</section>
<!-- END Section Content -->