
<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="text-gradient text-primary text-center">Innovation Grants Received</h2>
        <p class="lead mb-5">by Students</p>
      </div>
      <div class="col-lg-12">

<section class="py-2">
  <div class="container">
    <div class="row justify-space-between py-2">
      <div class="col-lg-4 ms-auto">
        <div class="nav-wrapper position-relative">
          <ul class="nav  nav-fill flex-column p-1 me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <li class="nav-item">
              <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#2025-26" role="tab" aria-controls="v-pills-home" aria-selected="true">2025-26</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#2024-25" role="tab" aria-controls="v-pills-profile" aria-selected="false">2024-25</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#2023-24" role="tab" aria-controls="v-pills-messages" aria-selected="false">2023-24</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#2022-23" role="tab" aria-controls="v-pills-settings" aria-selected="false">2022-23</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#2021-22" role="tab" aria-controls="v-pills-settings" aria-selected="false">2021-22</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#2020-21" role="tab" aria-controls="v-pills-settings" aria-selected="false">2020-21</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 me-auto my-auto text-start">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="2025-26" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <div class="row mb-8">
     
        <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-dark">
              <tr>
                <th>Name of organization</th>
                <th class="text-center">Amount of Grant received</th>
                <th class="text-center">Startup Name / Project Name</th>
                <th class="text-center">Grant Name</th>
                <th class="text-center">College Name</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Smart Methanol/Ethanol Detection Device</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">Alagappa College of Technology</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">AnimalTradeX</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹2,00,000</td><td class="text-center">M/s. Atomaki</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">RMK POTHOLE</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">RMK </td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Scout Edge</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">IIT Madas</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">LearnSphere</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">RMK</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Vision Solve</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">CEG</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Aquaholics</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">RMK</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Indyarn</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">A.C. Tech</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹2,97,000</td><td class="text-center">8Bix</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">Meenakshi Sundarajan Engineering College</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹2,97,000</td><td class="text-center">CEG Motor Sports</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">CEG</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹7,00,000</td><td class="text-center">MotorX India Mobility Pvt. Ltd.</td><td class="text-center">Innovation Voucher Program (IVP)- B</td><td class="text-center">Alumni</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Ennamopenupbro Compute Technologies Pvt. Ltd.</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">Alumni</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Intra Mobility and Precision Systems Pvt Ltd.</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">Alumni</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">GRAINFORGE TECHNOLOGIES</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">R.M.K. Engineering College</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Curio</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">PSG Tech</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Niya Therapy</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">St.Joseph's college of engineering , OMR, Chennai.</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">Smart Methanol/Ethanol Detection Device</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">Alagappa College of Technology</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹3,00,000</td><td class="text-center">AnimalTradeX</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹2,00,000</td><td class="text-center">M/s. Atomaki</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
              
            </tbody>
          </table>
        </div>
        </div>
 
          </div>
          <div class="tab-pane fade" id="2024-25" role="tabpanel" aria-labelledby="v-pills-profile-tab">
               <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-dark">
              <tr>
                <th>Name of organization</th>
                <th class="text-center">Amount of Grant received</th>
                <th class="text-center">Startup Name / Project Name</th>
                <th class="text-center">Grant Name</th>
                <th class="text-center">College Name</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>Balakamalam Environmental Fund</td><td class="text-center">₹82,630</td><td class="text-center">Cool Bricks</td><td class="text-center">ClimateTech Grant</td><td class="text-center">Thiagarajar College of Engineering Guindy</td></tr>
              <tr><td>Balakamalam Environmental Fund</td><td class="text-center">₹1,00,000</td><td class="text-center">CoCos Paper</td><td class="text-center">ClimateTech Grant</td><td class="text-center">Nehru Institute of Tech.</td></tr>
              <tr><td>Balakamalam Environmental Fund</td><td class="text-center">₹85,000</td><td class="text-center">Feather Waste Recycling</td><td class="text-center">ClimateTech Grant</td><td class="text-center">Sri Venkateswara College of Engineering</td></tr>
              <tr><td>Balakamalam Environmental Fund</td><td class="text-center">₹30,000</td><td class="text-center">Millet Cheese</td><td class="text-center">ClimateTech Grant</td><td class="text-center">A.C Tech Campus, Anna University</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹5,00,000</td><td class="text-center">M/s. Evoxia Labs India Private Ltd.</td><td class="text-center">Innovation Voucher Program (IVP)- B</td><td class="text-center">College of Engineering Guindy</td></tr>
            </tbody>
          </table>
        </div>
      </div>
          <div class="tab-pane fade" id="2023-24" role="tabpanel" aria-labelledby="v-pills-messages-tab">
   <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-dark">
              <tr>
                <th>Name of organization</th>
                <th class="text-center">Amount of Grant received</th>
                <th class="text-center">Startup Name / Project Name</th>
                <th class="text-center">Grant Name</th>
                <th class="text-center">College Name</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>TATA Steel</td><td class="text-center">₹76,204</td><td class="text-center">T-Core Panel</td><td class="text-center">Material NEXT 5.0</td><td class="text-center">MIT Campus, Anna University</td></tr>
              <tr><td>Balakamalam Environmental Fund</td><td class="text-center">₹1,61,500</td><td class="text-center">Hydrogen Production and Algal Carbon Sequestration...</td><td class="text-center">ClimateTech Grant</td><td class="text-center">College of Engineering Guindy</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹2,00,000</td><td class="text-center">M/s. Team Young Indians Auto Industries</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹2,00,000</td><td class="text-center">M/s. Carbo Nergy Consultancy</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
            </tbody>
          </table>
        </div>
          </div>
          <div class="tab-pane fade" id="2022-23" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-dark">
              <tr>
                <th>Name of organization</th>
                <th class="text-center">Amount of Grant received</th>
                <th class="text-center">Startup Name / Project Name</th>
                <th class="text-center">Grant Name</th>
                <th class="text-center">College Name</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>EDII-TN</td><td class="text-center">₹1,60,000</td><td class="text-center">M/s. Hue Enterprise</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
            </tbody>
          </table>
        </div>
          </div>

          <div class="tab-pane fade" id="2021-22" role="tabpanel" aria-labelledby="v-pills-settings-tab">

 

      <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-dark">
              <tr>
                <th>Name of organization</th>
                <th class="text-center">Amount of Grant received</th>
                <th class="text-center">Startup Name / Project Name</th>
                <th class="text-center">Grant Name</th>
                <th class="text-center">College Name</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>EDII-TN</td><td class="text-center">₹2,00,000</td><td class="text-center">M/s. Singorison Pvt Ltd.</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹1,00,000</td><td class="text-center">M/s. TRi-India</td><td class="text-center">Tamil Nadu Student Innovators (TNSI) Award-2022</td><td class="text-center">College of Engineering Guindy</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹1,00,000</td><td class="text-center">Kishan Know</td><td class="text-center">Tamil Nadu Student Innovators (TNSI) Award-2022</td><td class="text-center">College of Engineering Guindy</td></tr>
            </tbody>
          </table>
        </div>
      </div>
               <div class="tab-pane fade" id="2022-23" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-dark">
              <tr>
                <th>Name of organization</th>
                <th class="text-center">Amount of Grant received</th>
                <th class="text-center">Startup Name / Project Name</th>
                <th class="text-center">Grant Name</th>
                <th class="text-center">College Name</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>EDII-TN</td><td class="text-center">₹1,60,000</td><td class="text-center">M/s. Hue Enterprise</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
            </tbody>
          </table>
        </div>
          </div>

          <div class="tab-pane fade" id="2020-21" role="tabpanel" aria-labelledby="v-pills-settings-tab">

 

      <div class="table-responsive">
          <table class="table table-pricing">
            <thead class="text-dark">
              <tr>
                <th>Name of organization</th>
                <th class="text-center">Amount of Grant received</th>
                <th class="text-center">Startup Name / Project Name</th>
                <th class="text-center">Grant Name</th>
                <th class="text-center">College Name</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>EDII-TN</td><td class="text-center">₹2,00,000</td><td class="text-center">M/s. Space Cold Technology</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
              <tr><td>EDII-TN</td><td class="text-center">₹1,96,000</td><td class="text-center">M/s. PB Innovative Technologies</td><td class="text-center">Innovation Voucher Program (IVP)- A</td><td class="text-center">College of Engineering Guindy</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>









<section class="py-5 bg-dark mt-6">
  <div class="container position-relative">

    <h2 class="text-center text-white mb-4 fw-bold">
      Grants & Beneficiaries
    </h2>

    <!-- LEFT ARROW -->
    <button class="nav-btn left" id="leftBtn" onclick="scrollLeft()">&#10094;</button>

    <!-- RIGHT ARROW -->
    <button class="nav-btn right" id="rightBtn" onclick="scrollRight()">&#10095;</button>

    <!-- SCROLLER -->
    <div class="image-marquee" id="marquee">
      <div class="image-track" id="marqueeTrack">

        <!-- 🔁 ADD ALL 23 CARDS ONLY ONCE -->
        <!-- SAMPLE CARD (repeat all your cards same way) -->
        




              <!-- IMAGE 26 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Curio.jpeg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Curio Clothing</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,72,700</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>

        </div>




      <!-- IMAGE 27 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/EdgeSphere.jpeg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> EdgeSphere</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,700</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>

        </div>


              <!-- IMAGE 27 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Learnsphere.jpeg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Learnsphere</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,97,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>

        </div>



  <!-- IMAGE 28 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
        <img 
        src="/assets/img/SafeSTride.jpeg"  
        class="img-fluid rounded-3 mb-3 w-100"
        style="height: 200px; object-fit: contain; background-color: #334766;"
        />
          <p><span class="fw-bold text-info">Company Name:</span> SafeSTride</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,65,500</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>
    </div>



        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/intra.jpeg" class="img-fluid rounded-3 mb-3">
          <p><b class="text-info">Company:</b> Intra Mobility and Precision Systems Private Limited (IMPS)</p>
          <p><b class="text-info">Grant:</b> IVP - Voucher A</p>
          <p><b class="text-info">Amt:</b> 3,00,000</p>
          <p><b class="text-info">Year:</b> 2026</p>
        </div>


        

        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Grainforge.jpeg" class="img-fluid rounded-3 mb-3">
          <p><b class="text-info">Company:</b>Grainforge Technologies</p>
          <p><b class="text-info">Grant:</b> IVP - Voucher A</p>
          <p><b class="text-info">Amt:</b> 3,00,000</p>
          <p><b class="text-info">Year:</b> 2026</p>
        </div>



        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Niya Therapy.jpeg" class="img-fluid rounded-3 mb-3">
          <p><b class="text-info">Company:</b> Niya Therapy</p>
          <p><b class="text-info">Grant:</b> IVP - Voucher A</p>
          <p><b class="text-info">Amt:</b> 3,00,000</p>
          <p><b class="text-info">Year:</b> 2025</p>
        </div>

        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/CEG Motorsports.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> CEG Motorsports</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,97,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>


        <!-- IMAGE 3 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Neurotronix.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Neurotronix</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>


        <!-- IMAGE 4 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Vision Solve.jpeg"class="img-fluid rounded-3 mb-3"  />
          <p><span class="fw-bold text-info">Company Name:</span> Vision Solve</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>


        <!-- IMAGE 5 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/AQUAHOLICS.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Aquaholics</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>
        

        <!-- IMAGE 6 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Indyarn.jpeg" class="img-fluid rounded-3 mb-3"/>
          <p><span class="fw-bold text-info">Company Name:</span> Indyarn</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>


        <!-- IMAGE 7 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/8 bix.jpeg"class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> 8 Bix</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,97,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>


        <!-- IMAGE 8 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/8 bix1.jpeg"class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> 8 Bix</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,97,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>

         <!-- IMAGE 9 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/8 bix 2.jpeg" class="img-fluid rounded-3 mb-3"/>
          <p><span class="fw-bold text-info">Company Name:</span> 8 Bix</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,97,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>
        

        <!-- IMAGE 10 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Ennamopenupbro.jpeg" class="img-fluid rounded-3 mb-3"  />
          <p><span class="fw-bold text-info">Company Name:</span> Ennamopenupbro Compute Technologies (P) Ltd</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>

        <!-- IMAGE 11 -->
         <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/AnimalTradeX.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> AnimalTradeX</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>


        <!-- IMAGE 12 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Nikarika.jpg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> VitaSafe</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>

        <!-- IMAGE 13 -->


        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/MOTOR-X.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Motor-x India Mobility Private Limited </p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher B</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 7,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
        </div>



         <!-- IMAGE 14 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/ATOMAKI.jpeg" class="img-fluid rounded-3 mb-3"/>
          <p><span class="fw-bold text-info">Company Name:</span>Atomaki</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2024</p>
        </div>


        


        <!-- IMAGE 16 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/harsh.jpg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Evoxia Labs </p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher B</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 5,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2024</p>
        </div>



        <!-- IMAGE 17 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/ezhil.JPG" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> CarboNergy Consultancy </p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2024</p>
        </div>




        <!-- IMAGE 15 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/MOTOR-X.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Motor-x India Mobility Private Limited (Formerly know as
                  Team Young Indians Auto Industries)</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2024</p>
        </div>
        


        <!-- IMAGE 18 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Hue Enterprises.jpeg" class="img-fluid rounded-3 mb-3"  />
          <p><span class="fw-bold text-info">Company Name:</span>Hue Enterprises</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 1,60,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2023</p>
        </div>


        <!-- IMAGE 19 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/harini k Singorison.jpg" class="img-fluid rounded-3 mb-3"  />
          <p><span class="fw-bold text-info">Company Name:</span> Singorison</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2022</p>
        </div>

        <!-- IMAGE 20 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Tri.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> TRi-India formerly known as MEINE Electric Automotives Pvt. Ltd.</p>
          <p><span class="fw-bold text-info">Grant Name:</span> TNSI</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 1,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2022</p>
        </div>


        <!-- IMAGE 21 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/avathar1.jpg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span>Kisson Flow</p>
          <p><span class="fw-bold text-info">Grant Name:</span> TNSI</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 1,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2022</p>
        </div>



  

        <!-- IMAGE  22 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/dinesh pb innovative now Vividobots.jpg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Vividobots (Formerly Known as  PB Innovative Solutions)</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 1,96,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2021</p>
        </div>

        


      
        <!-- IMAGE 23 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/karthi space cold tech.jpg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Space Cold Tech</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2020</p>
        </div>
        
      </div>
    </div>
  </div>
</section>








<script is:inline>
  const marquee = document.getElementById("marquee");
  const track = document.getElementById("marqueeTrack");
  const leftBtn = document.getElementById("leftBtn");
  const rightBtn = document.getElementById("rightBtn");

  let position = 0;
  const speed = 2;
  const step = 280;
  let isPaused = false;

  // duplicate cards
  track.innerHTML += track.innerHTML;

  const singleWidth = track.scrollWidth / 2;

  function autoScroll() {
    if (!isPaused) {
      position -= speed;

      // RIGHT END RESET
      if (Math.abs(position) >= singleWidth) {
        position = 0;
      }

      track.style.transform = `translateX(${position}px)`;
    }
    requestAnimationFrame(autoScroll);
  }

  autoScroll();

  // hover pause
  marquee.addEventListener("mouseenter", () => isPaused = true);
  marquee.addEventListener("mouseleave", () => isPaused = false);

  // 👉 RIGHT ARROW
  rightBtn.addEventListener("click", () => {
    position -= step;

    if (Math.abs(position) >= singleWidth) {
      position = 0;
    }

    track.style.transform = `translateX(${position}px)`;
  });

  // 👉 LEFT ARROW (🔥 IMPORTANT FIX)
  leftBtn.addEventListener("click", () => {
    position += step;

    // 🚫 prevent empty space
    if (position > 0) {
      position = -singleWidth + step;
    }

    track.style.transform = `translateX(${position}px)`;
  });
</script>





<style>


.image-marquee {
  overflow: hidden;
  position: relative;
}

.image-track {
  display: flex;
  gap: 40px;
  width: max-content;
  
}

.img-box {
  width: 230px;
  height: 430px;
  background: #111;
  color: #fff;
  border-radius: 22px;
  padding: 15px;
  box-shadow: 0 18px 40px rgba(0,0,0,.4);
  flex-shrink: 0;
}

.img-box img {
  width: 160px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* AUTO SCROLL */
@keyframes autoScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* HOVER PAUSE */
.image-marquee:hover .image-track {
  animation-play-state: paused;
}

/* ARROW BUTTONS */
.nav-btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(140, 136, 136, 0.15);
  border: none;
  color: #fff;
  font-size: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;

}

.nav-btn:hover {
  background: rgba(212, 207, 207, 0.35);
}

.nav-btn.left {
  left: -10px;
}

.nav-btn.right {
  right: -10px;
}






/* CARD */
.img-box {
  width: 230px;
  height: 430px;
  background: #111;
  border-radius: 22px;
  box-shadow: 0 18px 40px rgba(0,0,0,.4);
  flex-shrink: 0;
}

/* IMAGE */
.img-box img {
  width: 160px;
  height: 200px;
  object-fit: cover;
  border-radius: 50% 50% 45% 45%;
  margin-bottom: 10px;
}

/* TEXT */
.img-box p {
  font-size: 14px;
  margin: 3px 0;
}

/* FULL SCROLL */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Hover Pause */
.image-marquee:hover .image-track {
  animation-play-state: paused;
}

</style>





















































