<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img src="../assets/img/demoday.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Association with EDII, Govt. of TN</h6>
            <h3>
              <a href="javascript:;" class="text-darker">TamilNadu Youth Innovation and Entrepreneurship Development Programme (TNYIEDP)</a>
            </h3>
            <p>
             Centre for Entrepreneurship Development, Anna University received this recognition on 16 July 2025 from the Hon'ble Minister of MSME, TN Thiru. T. M. Anbarasan - a 5 year partnership from EDII-TN for implementing TNYIEDP (TamilNadu Youth Innovation and Entrepreneurship Development Programme) in all Higher Education Institutions of Chennai District. Accompanied by Thiru. Ambalavanan Ramaswamy IAAS, Director, EDII-TN and Dr. Atul Anand IAS, Additional Chief Secretary to Government, MSME, TN. The initiative aims at helping students from 2,000 higher education institutions annually, and will be implemented with an outlay of ₹19.57 crore over 5 years. It targets training 30.5 lakh students in entrepreneurship and innovation.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
              on <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info">16 July 2025</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <!-- START Testimonials w/ bg image & faded gradient & company logo -->

    
    

<!-- END Testimonials w/ bg image & faded gradient & company logo -->

            <div class="col-6 mx-auto">
        <div id="carouselExampleTestimonials-11" class="carousel carousel-fade slide shadow-lg" data-bs-ride="carousel">
          <ol class="carousel-indicators z-index-2">
            <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="1"></li>
          </ol>
          <div class="carousel-inner rounded-3">
            <div class="carousel-item bg-cover active" style="background-image: url(&#39;../assets/img/statifylaunch.jpg&#39;)">
              <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                <div class="row h-100">
                  <div class="col-xl-6 my-auto px-6">
                    
                                    </div>
                 
                </div>
              </div>
             
            </div>
            <div class="carousel-item bg-cover" style="background-image: url(&#39;../assets/img/statifylaunch1.png&#39;)">
              <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                <div class="row h-100">
                  <div class="col-xl-6 my-auto px-6">
             
        
                  </div>
                
                </div>
              </div>
             
            </div>
          </div>
        </div>
        
 
        </div>

          <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Startify</h6>
            <h3>
              <a href="javascript:;" class="text-darker">Startify 3.0 Launch</a>
            </h3>
            <p>
             Hon’ble Deputy Chief Minister Thiru. Udhayanidhi Stalin inaugurating the STARTIFY 3.0 on Nov 12, 2024 as part of SEIGA PUTHUMAI Initiative of StartupTN; Accompanied by Thiru. L. NirmalRaj, IAS, Industries Commissioner and Director of Industries and Commerce, Tmt. J. Innocent Divya, IAS, MD, TNSDC, Hon’ble Minister for MSME, TN Thiru. T.M. Anbarasan, Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University, Dr. V. Kamakoti, Director, IIT Madras, Thiru. Ambalavaanan IAAS, Director, EDII-TN, Thiru. Sivarajah Ramanathan, CEO, StartupTN
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
              on <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info">12.11.2024</span></a>
            </p>
          </div>

      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img src="../assets/img/hcl.png" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
             <b style="color:black;">Disrupting the CSR Policy: CSR project on Empowering Aspirant Entrepreneurs MoU signing of StartupTN with HCLTech on 14.05.2025 Happy to share that CED AU is the implementation partner </b>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">CSR Initiative</h6>
            <h3>
              <a href="javascript:;" class="text-darker">StartupTN & HCLFoundation Signs MoU empanelling CED-AU
              </a>
            </h3>
            <p>
              StartupTN Signs MoU with HCLFoundation to Support 300 Budding Entrepreneurs for the next three years under the HCL Uday initiative. The MoU was formally exchanged at the StartupTN Office in Nandanam, Chennai, between Thiru. Sivarajah Ramanathan, Mission Director & CEO, StartupTN, and Dr. Nidhi Pundhir, Director, HCL Foundation. Key Highlights: Support for 300 startups over three years - Focus on inclusivity: 50% women and 50% from underprivileged youth - ₹10,000 financial assistance per startup for legal registration through the Start Step initiative - Comprehensive mentoring and training support through an empanelled implementation partner - Collaborative facilitation by StartupTN in alignment with Tamil Nadu's startup policies - Eligible ideas to be recommended for pre-seed funding through StartupTN with  Mr. Gaurav, HCLF,   Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University & Thiru. C N Prem Kumar, AVP, StartupTN.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
             on <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info">14.05.2025</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="blur-shadow-image">
                <img src="../assets/img/puthulir.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Puthulir</h6>
            <h3>
              <a href="javascript:;" class="text-darker">Puthulir - TN Schools’ Innovation & Ideation Challenge </a>
            </h3>
            <p>
             Hon’ble Minister for School Education Thiru. Anbil Mahesh Poyya Mozhi inaugurates the AUSE Anna University Student Entrepreneurship Club - Student Chapter on Nov 14, 2025. Accompanied by Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University; Thiru. R. Ambalavaanan IAAS, Director, EDII-TN; Tmt. S. Madhumathi IAS, Secretary to Govt., School Education Department, TN
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
              on <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info">14.11.2024</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img src="../assets/img/abraham.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Interaction with DOTE Commissioner</h6>
            <h3>
              <a href="javascript:;" class="text-darker"></a>
            </h3>
            <p>
            Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Thiru. T. Abraham IAS, Commissioner, Directorate of Technical Education , TN.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
              on <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info">25 July 2024</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <!-- START Testimonials w/ bg image & faded gradient & company logo -->

    
    

<!-- END Testimonials w/ bg image & faded gradient & company logo -->

            <div class="col-6 mx-auto">
        <div id="carouselExampleTestimonials-11" class="carousel carousel-fade slide shadow-lg" data-bs-ride="carousel">
          <ol class="carousel-indicators z-index-2">
            <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="1"></li>
          </ol>
          <div class="carousel-inner rounded-3">
            <div class="carousel-item bg-cover active" style="background-image: url(&#39;../assets/img/arjunroy.jpg&#39;)">
              <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                <div class="row h-100">
                  <div class="col-xl-6 my-auto px-6">
                    
                                    </div>
                 
                </div>
              </div>
             
            </div>
            <div class="carousel-item bg-cover" style="background-image: url(&#39;../assets/img/arjunroy.jpg&#39;)">
              <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                <div class="row h-100">
                  <div class="col-xl-6 my-auto px-6">
             
        
                  </div>
                
                </div>
              </div>
             
            </div>
          </div>
        </div>
        
 
        </div>

          <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Interaction with Secretary to Govt. of TN</h6>
            <h3>
              <a href="javascript:;" class="text-darker">CED Impact Report 2023-24</a>
            </h3>
            <p>
            Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Thiru. V. Arun ROy, IAS, Secretary to Govt., Dept. of Industries, Investment Promotion & Commerce, TN on 26.07.2024
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
              on <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info">26.07.2024</span></a>
            </p>
          </div>

      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img src="../assets/img/dharmendra.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
           
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Ministrty of Handloom , Handicrafts and Textiles, Govt of Tamil Nadu</h6>
            <h3>
              <a href="javascript:;" class="text-darker">Intraction with Thiru. Dharmendra Pratap Yadav, IAS</a>
            </h3>
            <p>
              Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Thiru.  Dharmendra Pratap Yadav, IAS, Principal Secretary, Handloom , Handicrafts and Textiles, Govt of Tamil Nadu & Discussed about future collaborations.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
             on <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info">14.05.2025</span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="blur-shadow-image">
                <img src="../assets/img/veeraraghavrao.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
            <h6 class="category text-info mt-3"> Ministry of Labour Welfare and Skill Development, Govt of Tamil Nadu</h6>
            <h3>
              <a href="javascript:;" class="text-darker">Interaction with Thiru. K. Veera Raghava Rao, IAS </a>
            </h3>
            <p>
           Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Thiru.  K. Veera Raghava Rao, IAS, Secretary to Govt., Ministry of Labour Welfare and Skill Development, Govt of Tamil Nadu & Discussed about future collaborations.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
              <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img src="../assets/img/innocentdivya.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Tamil Nadu Skill Development Corporation (TNSDC)
                         <i class="fas fa-arrow-right text-xs ms-1"></i></h6>
            <h3>
              <a href="javascript:;" class="text-darker">Tmt. J. Innocent Divya, IAS
              </a>
            </h3>
            <p>
             Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Tmt. J. Innocent Divya, IAS, Managing Director, Tamil Nadu Skill Development Corporation (TNSDC) & Discussed about future collaborations.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
            <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info"></span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="blur-shadow-image">
                <img src="../assets/img/archanapatnayak.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">MSME, GoTN</h6>
            <h3>
              <a href="javascript:;" class="text-darker">Tmt. Archana Patnaik, IAS </a>
            </h3>
            <p>
            Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Tmt. Archana Patnaik, IAS, Principal Secretary, MSME, GoTN.  & Discussed about future collaborations.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
             <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img src="../assets/img/madhumitha.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Dept. of School Education, GoTN</h6>
            <h3>
              <a href="javascript:;" class="text-darker">Tmt. R. Madhumathi, IAS</a>
            </h3>
            <p>
           Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Tmt. R. Madhumathi, IAS, Secretary to Govt. Dept. of School Education, GoTN  & Discussed about future collaborations.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
               <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <!-- START Testimonials w/ bg image & faded gradient & company logo -->

    
    

<!-- END Testimonials w/ bg image & faded gradient & company logo -->

            <div class="col-6 mx-auto">
        <div id="carouselExampleTestimonials-11" class="carousel carousel-fade slide shadow-lg" data-bs-ride="carousel">
          <ol class="carousel-indicators z-index-2">
            <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleTestimonials-11" data-bs-slide-to="1"></li>
          </ol>
          <div class="carousel-inner rounded-3">
            <div class="carousel-item bg-cover active" style="background-image: url(&#39;../assets/img/sundaravalli.jpg&#39;)">
              <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                <div class="row h-100">
                  <div class="col-xl-6 my-auto px-6">
                    
                                    </div>
                 
                </div>
              </div>
             
            </div>
            <div class="carousel-item bg-cover" style="background-image: url(&#39;../assets/img/sundaravalli.jpg&#39;)">
              <div class="z-index-1 my-md-8 my-6 position-relative z-index-2">
                <div class="row h-100">
                  <div class="col-xl-6 my-auto px-6">
             
        
                  </div>
                
                </div>
              </div>
             
            </div>
          </div>
        </div>
        
 
        </div>

          <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
            <h6 class="category text-info mt-3">Directorate of Collegiate Education, TN</h6>
            <h3>
              <a href="javascript:;" class="text-darker">Tmt. E. Sundaravalli IAS</a>
            </h3>
            <p>
           Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Tmt. E. Sundaravalli, IAS, Commissioner, Directorate of Collegiate Education, TN & Discussed about future collaborations.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
        
          </div>

      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="d-block blur-shadow-image">
                <img src="../assets/img/sivarajah.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
           
            </div>
          </div>
          <div class="col-lg-6 justify-content-center d-flex flex-column ps-lg-5 pt-lg-0 pt-3">
            <h6 class="category text-info mt-3"> Tamilnadu Startup & Innovation Mission - StartupTN</h6>
            <h3>
              <a href="javascript:;" class="text-darker">Thiru.  Sivarajah Ramanathan</a>
            </h3>
            <p>
             Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Thiru.  Sivarajah Ramanathan, Mission Director, Tamilnadu Startup & Innovation Mission and CEO, StartupTN & Discussed about future collaborations.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
           <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info"></span></a>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <div class="row flex-row-reverse">
          <div class="col-lg-6 justify-content-center d-flex flex-column">
            <div class="card rounded-3">
              <div class="blur-shadow-image">
                <img src="../assets/img/vasanbala.jpg" alt="img-blur-shadow-blog-2" class="img-fluid shadow rounded-3">
              </div>
            </div>
          </div>
          <div class="col-lg-6 pe-lg-5 justify-content-center d-flex flex-column pt-lg-0 pt-3">
            <h6 class="category text-info mt-3"> Vikatan Group</h6>
            <h3>
              <a href="javascript:;" class="text-darker">Thiru.  B. Srinivasan, MD. </a>
            </h3>
            <p>
          Dr. G.S. Mahalakshmi, Director, Centre for Entrepreneurship Development, Anna University presents the CED Impact Report 2023-24 to Thiru.  B. Srinivasan, MD, Vikatan Group & Discussed about future collaborations.
                <i class="fas fa-arrow-right text-xs ms-1"></i>
              </a>
            </p>
            <p class="author">
              <a href="javascript:;" class="ms-1"><span class="font-weight-bold text-info"></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

