<!-- START Section Content W/ 2 images aside of icon title description -->
<section class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 order-2 order-md-2 order-lg-1">
        <div class="position-relative ms-md-5 mb-0 mb-md-7 mb-lg-0 d-none d-md-block d-lg-block d-xl-block h-65">
          <div class="bg-gradient-info w-100 h-100 border-radius-xl position-absolute" ></div>
          <img src="/assets/img/rusa.png" class="w-100 h-80 border-radius-xl mt-7 ms-5 position-absolute" alt="">

        </div>
      </div>
      <div class="col-lg-5 col-md-12 ms-auto order-1 order-md-1 order-lg-1">
        <div class="p-3 pt-0">
            <div class="icon icon-shape bg-gradient-info rounded-circle shadow text-center mb-4">
              <i class="ni ni-building"></i>
            </div>
            <h4 class="text-gradient text-info mb-0">RUSA – Rashtriya Uchchatar Shiksha Abhiyan </h4>
            <h4 class="mb-4"> by the Ministry of Education, Government of India</h4>
            <p>CED has also been an integral part of institutional-level innovation strengthening through project funding for establishing Entrepreneurship & Career Hub received under RUSA 2.0 for about Rs. 3.69 crores. The RUSA Seed Fund was used to establish MAKERS LAB and upgrade pre-incubation infrastructure, support student innovations, and conduct activities to foster entrepreneurial culture on campus. Additionally, CED collaborated in organizing RUSA-backed bootcamps, technology validation workshops, and pitching events to connect student entrepreneurs with funding opportunities and ecosystem enablers.
This multi-source fund mobilization and efficient utilization reflect CED’s strategic commitment to enabling entrepreneurial excellence and inclusive innovation-led development.
</p>
            <a href="https://rusa.nic.in/" class="text-dark icon-move-right">More about us
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
          </div>
      </div>
    </div>
    <div class="row mt-0 mt-md-5 mt-lg-8">
     
    </div>
  </div>
</section>
<!-- END Section Content -->