
    <section class="pt-5 pb-0" id="ced-au-offers" >
  <div class="container">
    <h3 class="mb-4" style="text-align:center"00000>CED AU Offers</h3>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
              <img src="../assets/img/services/awareness.png" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
            
            <a href="javascript:;">
              <h5>
                Awareness Programs on Entrepreneurship
              </h5>
            </a>
            <p>
              Awareness programs on entrepreneurship help inspire and educate individuals about the fundamentals of starting and running a business. These programs focus on fostering entrepreneurial mindset, offering insights into innovation, leadership, and business development. They aim to empower aspiring entrepreneurs with the knowledge and tools needed to turn ideas into successful ventures.
            </p>
<a 
  href="/awareness" 
  class="btn btn-outline-primary btn-sm"
>
  Know More
</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
             <img src="../assets/img/services/idea_pitch.jpeg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">

            <a href="javascript:;">
              <h5>
                Idea Pitching Sessions
              </h5>
            </a>
            <p>
              Idea Pitching Sessions are dynamic events where aspiring entrepreneurs present their innovative business concepts to a panel of experts, investors, or mentors. These sessions provide valuable feedback, networking opportunities, and potential funding or support for promising ideas. It's a platform to showcase creativity, viability, and scalability in a competitive yet supportive environment.
            </p>
<a 
  href="/entrepreneurship" 
  class="btn btn-outline-primary btn-sm"
>
  Know More
</a>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
              <img src="../assets/img/services/technical.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3 ">
           
            <a href="javascript:;">
              <h5>
                Technical Workshops
              </h5>
            </a>
            <p>
              Our technical workshops offer hands-on training in cutting-edge technologies like 3D Printing, PCB Printing, IoT, and more. Participants gain practical experience in building and prototyping, fostering innovation and technical skills. These sessions are designed to equip attendees with the knowledge to implement real-world applications and solutions in their projects.
            </p>
<a 
  href="/entrepreneurship" 
  class="btn btn-outline-primary btn-sm"
>
  Know More
</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
              <img src="../assets/img/services/funding.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
     
            <a href="javascript:;">
              <h5>
                Seed Funding/Prototyping Grants
              </h5>
            </a>
            <p>
              Seed funding and prototyping grants like EDII-TN's Innovation Voucher Program (IVP) and the Balakamalam Climate Fund, provide early-stage financial support to startups and innovators. These funds help entrepreneurs develop and test their prototypes, reducing the financial risks associated with the early phases of product development. They play a crucial role in fostering innovation by providing resources for scaling sustainable ideas, especially in sectors like climate tech, healthcare, and more.
            </p>
            <button type="button" class="btn btn-outline-primary btn-sm">Know More</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
              <img src="../assets/img/services/community.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
            
            <a href="javascript:;">
              <h5>
                Community Connect
              </h5>
            </a>
            <p>
              Community Connect is an initiative designed to foster collaboration and networking among local entrepreneurs, innovators, and experts. It provides a platform for sharing knowledge, exchanging ideas, and driving collective growth. Through regular events and engagements, Community Connect aims to strengthen the entrepreneurial ecosystem and build lasting partnerships.
            </p>
            <button type="button" class="btn btn-outline-primary btn-sm">Know More</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
              <img src="../assets/img/services/makerlab.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
           
            <a href="javascript:;">
              <h5>
                Makers Lab
              </h5>
            </a>
            <p>
              The CED Makers Lab at Anna University is a state-of-the-art facility dedicated to fostering innovation and entrepreneurship. It provides students and entrepreneurs with the tools, resources, and mentorship needed to prototype and develop cutting-edge technologies. The lab serves as a creative hub where ideas transform into impactful solutions, driving the future of technology and enterprise.
            </p>
            <a 
  href="/makerslab" 
  class="btn btn-outline-primary btn-sm"
>
  Know More
</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
             <img src="../assets/img/services/intern.png" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
            
            <a href="javascript:;">
              <h5>
                Students Internships
              </h5>
            </a>
            <p>
              The Centre for Entrepreneurship Development (CED) at Anna University offers students dynamic internship opportunities to develop entrepreneurial skills and hands-on experience. These internships focus on fostering innovation, problem-solving, and leadership through real-world projects. CED empowers students to engage with industry experts and explore startup ecosystems for a successful career path.
            </p>
                     <a 
  href="/internship" 
  class="btn btn-outline-primary btn-sm"
>
  Know More
</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
              <img src="../assets/img/services/enantra.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
            
            <a href="javascript:;">
              <h5>
                Entrepreneurship Fest
              </h5>
            </a>
            <p>
              Enantra is a premier entrepreneurship fest organized by Anna University Student Entrepreneurship Club (AUSEC), offering a vibrant platform for aspiring entrepreneurs to showcase their innovative ideas. The event brings together students, industry leaders, and startups for networking, workshops, and competitions that foster entrepreneurial spirit. It serves as a hub for collaboration and growth, driving innovation and business excellence.
            </p>
            <a 
  href="https://www.enantra.in/" 
  class="btn btn-outline-primary btn-sm"
>
  Know More
</a>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
             <img src="../assets/img/services/courses.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
            
            <a href="javascript:;">
              <h5>
                Entrepreneurship Courses in Curriculum
              </h5>
            </a>
            <p>
              Entrepreneurship courses in the curriculum provide students with the knowledge and skills to identify business opportunities, develop innovative solutions, and manage startups effectively. These courses foster creativity, leadership, and problem-solving abilities essential for navigating the challenges of the modern business world. By integrating practical and theoretical insights, they prepare future entrepreneurs to contribute to economic growth and innovation.
            </p>
            <a 
  href="/curriculum" 
  class="btn btn-outline-primary btn-sm"
>
  Know More
</a>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
              <img src="../assets/img/services/hack.JPG" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
            
            <a href="javascript:;">
              <h5>
                Hackathons/Business Plan Pitching
              </h5>
            </a>
            <p>
              The Centre for Entrepreneurship Development (CED) has successfully conducted several hackathons and business plan pitching events that foster innovation and creativity among participants. These events provide a platform for aspiring entrepreneurs to showcase their ideas, collaborate with peers, and receive valuable feedback from industry experts and mentors. By encouraging teamwork and problem-solving, CED aims to nurture a vibrant entrepreneurial ecosystem that empowers individuals to transform their innovative concepts into viable business ventures.
            </p>
            <button type="button" class="btn btn-outline-primary btn-sm">Know More</button>
          </div>
        </div>
      </div>

      
      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
                          <img src="../assets/img/services/iv.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
           
            <a href="javascript:;">
              <h5>
                Industrial Visit to Makers Lab
              </h5>
            </a>
            <p>
              The Industrial Visit to Makers Lab provided participants with a hands-on experience in cutting-edge technology and innovation. Attendees explored various advanced tools and equipment used in prototyping and product development, gaining insights into real-world applications of engineering principles. This visit fostered a deeper understanding of the entrepreneurial ecosystem and inspired participants to leverage their skills in the field of technology and entrepreneurship.
            </p>
            <a 
             href="/IV" 
             class="btn btn-outline-primary btn-sm"
              >
             Know More
            </a>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6">
        <div class="card card-blog card-plain">
          <div class="position-relative">
            <a class="d-block blur-shadow-image">
               <img src="../assets/img/services/fdp.jpeg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
            </a>
          </div>
          <div class="card-body px-1 pt-3">
            
            <a href="javascript:;">
              <h5>
                Faculty Development Programme on I & E
              </h5>
            </a>
            <p>
              The Faculty Development Programme on Innovation and Entrepreneurship (I&E) aims to equip educators with the essential skills and knowledge to foster a culture of innovation among students. Through interactive workshops and expert-led sessions, participants will explore contemporary trends in entrepreneurship, effective teaching methodologies, and strategies for mentoring aspiring entrepreneurs. This program not only enhances faculty capabilities but also contributes to developing a vibrant ecosystem of innovation within educational institutions.</p>
            <a 
             href="/fdp" 
             class="btn btn-outline-primary btn-sm"
              >
             Know More
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>


<style>

/* image wrapper */
#ced-au-offers .blur-shadow-image {
  display: block;
  width: 100%;
  height: 220px !important;
  overflow: hidden !important;
  border-radius: 16px;
}

/* image itself */
#ced-au-offers .blur-shadow-image img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block;
}



</style>