<section class="py-5 bg-dark">
  <div class="container position-relative">

    <h2 class="text-center text-white mb-4 fw-bold">
      Grants & Beneficiaries
    </h2>



    <button id="leftBtn" class="nav-btn left">‹</button>
    <button id="rightBtn" class="nav-btn right">›</button>


    <!-- SCROLLER -->
    <div class="image-marquee" id="marquee">
      <div class="image-track" id="marqueeTrack">

        <!-- 🔁 ADD ALL 23 CARDS ONLY ONCE -->
        <!-- SAMPLE CARD (repeat all your cards same way) -->






      <!-- IMAGE 26 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Curio.jpeg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Curio Clothing</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,72,700</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>
          
          <button>
          View Details
          </button>
        </div>




      <!-- IMAGE 27 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/EdgeSphere.jpeg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> EdgeSphere</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,700</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>
          
          <button>
          View Details
          </button>
        </div>


  <!-- IMAGE 28 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
<img 
  src="/assets/img/SafeSTride.jpeg"  
  class="img-fluid rounded-3 mb-3 w-100"
  style="height: 200px; object-fit: contain; background-color: #334766;"
/>
          <p><span class="fw-bold text-info">Company Name:</span> SafeSTride</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,65,500</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>
          
          <button>
          View Details
          </button>
        </div>

    <!-- IMAGE 29 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Learnsphere.jpeg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Learnsphere</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,97,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>
          
          <button>
          View Details
          </button>
        </div>





      <!-- IMAGE 25 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/intra.jpeg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Intra Mobility and Precision Systems Private Limited (IMPS)</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>
          
          <button>
          View Details
          </button>
        </div>




        <!-- IMAGE 24 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Grainforge.jpeg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Grainforge Technologies</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2026</p>
          
          <button>
          View Details
          </button>
        </div>




        <!-- IMAGE 1 -->


        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Niya Therapy.jpeg" class="img-fluid rounded-3 mb-3">
          <p><b class="text-info">Company:</b> Niya Therapy</p>
          <p><b class="text-info">Grant:</b> IVP - Voucher A</p>
          <p><b class="text-info">Amt:</b> 3,00,000</p>
          <p><b class="text-info">Year:</b> 2025</p>

          <button class="read-more-btn"
          data-title="Niya Therapy"
          data-desc="Niya Therapy Hub is an AI-driven Virtual Reality startup that transforms autism therapy by making it accessible, engaging, and effective for individuals with Autism Spectrum Disorder (ASD).\n\n It addresses key challenges such as limited access to trained therapists, low engagement in traditional therapy, high costs, and poor scalability—especially in rural and underserved areas.
          \n By converting evidence-based therapies into immersive VR experiences, the platform improves motivation and learning outcomes. AI-guided, personalized activities adapt to individual needs while enabling real-time progress tracking. \n\n Therapists and parents gain actionable insights into cognitive, motor, and social development. Overall, Niya Therapy Hub delivers scalable, affordable, and inclusive therapy anytime, anywhere.">
          View Details
          </button>

        </div>
        

        <!-- IMAGE 2 -->


        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/CEG Motorsports.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> CEG Motorsports</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,97,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
          
          <button>
          View Details
          </button>
        </div>


        <!-- IMAGE 3 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Neurotronix.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Neurotronix</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
          
          <button>
          View Details
          </button>
        </div>


        <!-- IMAGE 4 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Vision Solve.jpeg"class="img-fluid rounded-3 mb-3"  />
          <p><span class="fw-bold text-info">Company Name:</span> Vision Solve</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
          
          <button class="read-more-btn"
          data-title="Vision Solve"
          data-desc="Indian schools still teach and assess students with one-size-fits-all tools, leaving millions of students without personalized attention that addresses their unique learning gaps and pace.\n\n Teachers cannot track individual student progress at scale, and students lack adaptive learning paths that meet them where they are.\n\n Existing AI solutions are either too generic, too complex for school workflows, or disconnected from classroom curricula, which pushes families toward expensive generic tuition that still treats every student the same instead of solving the core problem.\n\n Vision Solve AI is a complete AI-powered learning ecosystem (learn → visualize → understand → test) where every student interaction deepens personalization.\n\n We integrate easily with schools, giving teachers real-time insights into class strengths and weaknesses, plus individual student profiles they can track over time.">
          View Details
          </button>
        </div>


        <!-- IMAGE 5 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/AQUAHOLICS.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Aquaholics</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
          
          <button class="read-more-btn"
          data-title="AQUAHOLICS"
          data-desc="I am Prem Pradeep, the Founder of AQUAHOLICS, a clean-tech startup working on autonomous water surface cleaning robots to address water pollution and improve environmental sustainability. I have been leading the journey from ideation and design to prototype development and field validation.

          I won the i2i (Idea to Innovation) Competition conducted by IIT Madras, securing a cash prize of ₹1 lakh, and also received a ₹3 lakh grant under the EDII Voucher – Category A to support technology development. Through these competitive innovation programs, AQUAHOLICS has generated over ₹4 lakhs in funding, validating the technical strength and impact potential of the solution.

           I actively work with mentors, academic institutions, innovation labs, and fabrication teams to convert ideas into deployable solutions. My vision is to build scalable, cost-effective robotic systems for water bodies, with a strong focus on government (B2G) and industrial (B2B) applications.">
          View Details
          </button>
        </div>
        

        <!-- IMAGE 6 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Indyarn.jpeg" class="img-fluid rounded-3 mb-3"/>
          <p><span class="fw-bold text-info">Company Name:</span> Indyarn</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
          
          <button class="read-more-btn"
          data-title="Indyarn"
          data-desc="Vishnupriya is the Founder of INDYARN CleanTech, a sustainable agro-textile startup focused on converting leather industry waste into eco-friendly agrotextiles for agriculture, landscaping, and urban farming.\n\n As a Research Scholar from Anna University, Chennai, she leads the technical operations of INDYARN, driving research, material innovation, and product development to address waste reduction, water conservation, and soil health improvement.\n\n Her innovation enables biodegradable, breathable, and durable agrotextiles that prevent weed growth, regulate temperature, and enhance moisture retention, supporting both environmental sustainability and climate-resilient farming.\n\n Vishnupriya’s work bridges fashion waste to farm applications, aligning with UN Sustainability Goals through a circular economy approach. \n\n INDYARN is a beneficiary of the IVP Grant by EDII-TN under the Startify 3.0 program, supporting the startup’s journey toward pilot validation and market readiness">
          View Details
          </button>
        </div>


        

         <!-- IMAGE 9 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/8 bix 2.jpeg" class="img-fluid rounded-3 mb-3"/>
          <p><span class="fw-bold text-info">Company Name:</span> 8 Bix</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,97,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>

          <button class="read-more-btn"
          data-title="8 Bix"
          data-desc="Suraj is the Co-Founder of 8Bix, a women’s health–focused med-tech startup developing Radha, a discreet, wearable smart patch designed to provide instant relief from menstrual pain without medication or heat.\n\n He co-conceptualized the product to address the widespread impact of dysmenorrhea on women’s daily lives by offering a drug-free, skin-safe, and affordable solution using vibration therapy.\n\n Under his leadership, 8Bix focuses on user-centric design, safety, and affordability, ensuring the device remains lightweight, water-resistant, and discreet for use at home, work, or classrooms.\n\n Suraj brings a strong innovation-driven approach, combining electronics, design iteration, and real-world validation to build a market-ready product.\n\n 8Bix is a beneficiary of the IVP Grant by EDII-TN under the Startify 3.0 program, supporting prototype optimization, testing, and early commercialization.">
          View Details
          </button>
        </div>
        

        <!-- IMAGE 10 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Ennamopenupbro.jpeg" class="img-fluid rounded-3 mb-3"  />
          <p><span class="fw-bold text-info">Company Name:</span> Ennamopenupbro Compute Technologies (P) Ltd</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
          
          <button>
          View Details
          </button>
        </div>

        <!-- IMAGE 11 -->
         <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/AnimalTradeX.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> AnimalTradeX</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
          
          <button>
          View Details
          </button>
        </div>


        <!-- IMAGE 12 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Nikarika.jpg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> VitaSafe</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 3,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
          
          <button>
          View Details
          </button>
        </div>

        <!-- IMAGE 13 -->


        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/MOTOR-X.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Motor-x India Mobility Private Limited </p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher B</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 7,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2025</p>
          
          <button class="read-more-btn"
          data-title=" Motor-x India Mobility Private Limited "
          data-desc="Prathib Vamsi (Palvannan Prathibvamsi) is the Founder and CEO of Motor-X India Mobility Private Limited, an automotive innovation company headquartered in Palladam, Tamil Nadu focused on developing advanced mobility solutions and thermal management technologies for vehicles and electric mobility applications.\n\n  Under his leadership, Motor-X is committed to creating world-class cooling and thermal products designed to enhance engine and EV performance, reliability, and sustainability, bridging automotive engineering with practical market needs. \n\n Prathib brings entrepreneurial drive and technical insight to the venture, aligning product development with real-world mobility challenges while fostering local manufacturing excellence.\n\n Motor-X India Mobility is a beneficiary of the IVP Grant by EDII-TN through the Startify 3.0 programme (Voucher A & B), supporting prototype development, validation, and early commercialisation efforts for its innovative solutions.">
          View Details
          </button>
        </div>



         <!-- IMAGE 14 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/ATOMAKI.jpeg" class="img-fluid rounded-3 mb-3"/>
          <p><span class="fw-bold text-info">Company Name:</span>Atomaki</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2024</p>
          
          <button class="read-more-btn"
          data-title="Atomaki"
          data-desc="I am K. Ranjith (Ranjith Karthikeyan), the Founder of ATOMAKI, an innovative startup addressing rat-related damage in vehicles.\n\n I am a B.E. graduate in Printing Technology from College of Engineering Guindy (CEG), Anna University. My solution eliminates the need for toxic sprays and harmful mechanical fixes. \n\n  RATFREE products prevent electrical failures, fire risks, and health hazards caused by rodents. I integrate material science, coating technology, and practical manufacturing in product development. My work focuses on safety, sustainability, and long-lasting protection.\n\n  Guided by the philosophy “Solution with Peace,” I aim to deliver humane innovations. My vision is to make RATFREE a standard safety accessory for vehicles across India.">
          View Details
          </button>
        </div>




        <!-- IMAGE 16 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/harsh.jpg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Evoxia LabsEvoxia Labs </p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher B</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 5,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2024</p>
          
          <button class="read-more-btn"
          data-title="Evoxia LabsNiya Therapy"
          data-desc="I am Harsh Chordia, Co-Founder at Evoxia Labs. We are addressing a dual crisis: the environmental catastrophe of burning 20 million tons of paddy straw annually in North India, and the nation’s critical $64 billion import dependency for specialty chemicals.
          \n\n Currently, industries rely on expensive, fossil-based imports for essential inputs like Rheology Modifiers and Silica. Evoxia has developed 'AgroWorks™', a proprietary waste-to-wealth fractionation technology that solves this.\n\n Instead of burning waste, we extract molecular value. We convert silica-rich paddy straw into high-purity Bio-Polymers (HPMC) for the Pharma/Paint sectors and Green Silica for Tyres—producing them at 50% lower cost than imports.
          \n\n We are TRL 5 validated, backed by IIT Kanpur, and have already secured paid commercial pilots.\n\n Our mission is to turn pollution into profit, building India’s supply chain for sustainable, carbon-neutral materials.">
          View Details
          </button>
        </div>



        <!-- IMAGE 17 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/ezhil.JPG" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> CarboNergy Consultancy </p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP - Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2024</p>
          
          <button>
          View Details
          </button>

        </div>


        
        <!-- IMAGE 15 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/MOTOR-X.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Motor-x India Mobility Private Limited (Formerly know as
                  Team Young Indians Auto Industries)</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2024</p>
          
          <button class="read-more-btn"
          data-title="Motor-x India Mobility Private Limited (Formerly know as
                  Team Young Indians Auto Industries)"
          data-desc="Prathib Vamsi (Palvannan Prathibvamsi) is the Founder and CEO of Motor-X India Mobility Private Limited, an automotive innovation company headquartered in Palladam, Tamil Nadu focused on developing advanced mobility solutions and thermal management technologies for vehicles and electric mobility applications.\n\n  Under his leadership, Motor-X is committed to creating world-class cooling and thermal products designed to enhance engine and EV performance, reliability, and sustainability, bridging automotive engineering with practical market needs. \n\n Prathib brings entrepreneurial drive and technical insight to the venture, aligning product development with real-world mobility challenges while fostering local manufacturing excellence.\n\n Motor-X India Mobility is a beneficiary of the IVP Grant by EDII-TN through the Startify 3.0 programme (Voucher A & B), supporting prototype development, validation, and early commercialisation efforts for its innovative solutions.">
          View Details
          </button>
        </div>
        


        <!-- IMAGE 18 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Hue Enterprises.jpeg" class="img-fluid rounded-3 mb-3"  />
          <p><span class="fw-bold text-info">Company Name:</span>Hue Enterprises</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 1,60,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2023</p>
          
          <button>
          View Details
          </button>
        </div>


        <!-- IMAGE 19 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/harini k Singorison.jpg" class="img-fluid rounded-3 mb-3"  />
          <p><span class="fw-bold text-info">Company Name:</span> Singorison</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2022</p>
          
          <button>
          View Details
          </button>
        </div>

        <!-- IMAGE 20 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/Tri.jpeg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> TRi-India formerly known as MEINE Electric Automotives Pvt. Ltd </p>
          <p><span class="fw-bold text-info">Grant Name:</span> TNSI</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 1,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2022</p>
          
          <button class="read-more-btn"
          data-title="TRi-India formerly known as MEINE Electric Automotives Pvt. Ltd"
          data-desc="MEINE Electric is an Indian clean-energy startup developing long-duration energy storage (LDES) solutions that enable reliable, affordable, and round-the-clock renewable power.\n\n The company is building Iron-Air battery systems capable of delivering 16-24 hours of storage at a levelized cost of ~$0.05/kWh (₹4-5/kWh)-nearly one-tenth the cost of lithium-ion for long-duration use. \n\n Using abundant iron, air, and water, the technology is non-flammable, import-independent, and scalable through an India-first supply chain, strengthening national energy security.

          MEINE is the only Iron-Air battery company in India and the Asia-Pacific region, building modular, containerized LDES solutions for industrial clusters, renewable developers, IPPs, utilities, and critical infrastructure seeking cost-effective, multi-day renewable firming and backup power.

          MEINE Electric has raised ₹2.9 crore in pre-seed equity (2024) and a ₹3.5 crore pre-seed extension (2025), and has received ~₹82 lakh in non-dilutive grant support from national and international innovation programs, reflecting strong institutional validation..">
          View Details
          </button>
        </div>


        <!-- IMAGE 21 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/avathar1.jpg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span>Kisson Flow</p>
          <p><span class="fw-bold text-info">Grant Name:</span> TNSI</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 1,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2022</p>
          
          <button>
          View Details
          </button>
        </div>



  

        <!-- IMAGE  22 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/dinesh pb innovative now Vividobots.jpg" class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Vividobots (Formerly Known as  PB Innovative Solutions)</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 1,96,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2021</p>
          
          <button>
          View Details
          </button>
        </div>

        


      
        <!-- IMAGE 23 -->
        <div class="img-box card bg-dark text-white p-3 text-start">
          <img src="/assets/img/karthi space cold tech.jpg"  class="img-fluid rounded-3 mb-3" />
          <p><span class="fw-bold text-info">Company Name:</span> Space Cold Tech</p>
          <p><span class="fw-bold text-info">Grant Name:</span> IVP- Voucher A</p>
          <p><span class="fw-bold text-info">Grant Amt:</span> 2,00,000</p>
          <p><span class="fw-bold text-info">Year:</span> 2020</p>
          
          <button>
          View Details
          </button>
        </div>



        




        
      </div>
    </div>
  </div>

  
  


<!-- POPUP -->
<div id="readMoreModal" class="modal-overlay">
  <div class="modal-box">
    <span class="modal-close" id="closeModal">&times;</span>
    <h3 id="modalTitle"></h3>

    <div class="modal-body">
      <p id="modalDesc" class="modal-text"></p>
    </div>

   
  </div>
</div>



</section>






<script is:inline>
document.addEventListener("DOMContentLoaded", () => {

  const modal = document.getElementById("readMoreModal");
  const modalTitle = document.getElementById("modalTitle");
  const modalDesc = document.getElementById("modalDesc");
  const modalBody = document.querySelector(".modal-body");
  const closeBtn = document.getElementById("closeModal");

  if (!modal || !modalTitle || !modalDesc || !modalBody || !closeBtn) return;

  document.querySelectorAll(".read-more-btn").forEach(btn => {
    btn.addEventListener("click", function () {

      const title = this.getAttribute("data-title");
      const desc  = this.getAttribute("data-desc");

    
      if (!desc || desc.trim() === "") {
        alert("Detailed description not available for this startup.");
        return;
      }

      modalTitle.innerText = title || "Details";
      modalDesc.innerText  = desc;

      modal.classList.add("show");
      document.body.classList.add("modal-open");
    });
  });

  closeBtn.addEventListener("click", () => {
    modal.classList.remove("show");
    document.body.classList.remove("modal-open");
  });

  window.addEventListener("click", e => {
    if (e.target === modal) {
      modal.classList.remove("show");
      document.body.classList.remove("modal-open");
    }
  });

});
</script>









<script is:inline>
  const marquee = document.getElementById("marquee");
  const track = document.getElementById("marqueeTrack");
  const leftBtn = document.getElementById("leftBtn");
  const rightBtn = document.getElementById("rightBtn");

  let position = 0;
  const speed = 2;
  const step = 280;
  let isPaused = false;

  // duplicate cards
  track.innerHTML += track.innerHTML;

  const singleWidth = track.scrollWidth / 2;

  function autoScroll() {
    if (!isPaused) {
      position -= speed;

      // RIGHT END RESET
      if (Math.abs(position) >= singleWidth) {
        position = 0;
      }

      track.style.transform = `translateX(${position}px)`;
    }
    requestAnimationFrame(autoScroll);
  }

  autoScroll();

  // hover pause
  marquee.addEventListener("mouseenter", () => isPaused = true);
  marquee.addEventListener("mouseleave", () => isPaused = false);

  // 👉 RIGHT ARROW
  rightBtn.addEventListener("click", () => {
    position -= step;

    if (Math.abs(position) >= singleWidth) {
      position = 0;
    }

    track.style.transform = `translateX(${position}px)`;
  });

  // 👉 LEFT ARROW (🔥 IMPORTANT FIX)
  leftBtn.addEventListener("click", () => {
    position += step;

    // 🚫 prevent empty space
    if (position > 0) {
      position = -singleWidth + step;
    }

    track.style.transform = `translateX(${position}px)`;
  });
</script>










<style>

#modalDesc{
  font-size:15.5px;
  line-height:1.8;
  color:#2e2e2e;
  text-align:justify;
  letter-spacing:0.3px;
  padding-right:6px;
}

/* paragraph spacing look */
#modalDesc br{
  display:block;
  content:"";
  margin-bottom:10px;
}


.modal-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.75);
  display:flex;
  align-items:center;
  justify-content:center;
  visibility:hidden;
  opacity:0;
  transition:.3s;
  z-index:9999;
}

.modal-overlay.show{
  visibility:visible;
  opacity:1;
}

.modal-box{
  background:#fff;
  width:90%;
  height:90%;
  max-width:580px;
  padding:35px;
  border-radius:20px;
  position:relative;
  text-align:center;
  display:flex;
  flex-direction:column;
  max-height:80vh;
}

.modal-close{
  position:absolute;
  top:12px;
  right:14px;
  width:34px;
  height:34px;
  border-radius:50%;
  background:linear-gradient(135deg,#ff4fd8,#b21fff);
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  font-size:18px;
}

.modal-close:hover{
  transform: rotate(90deg) scale(1.1);
  background: linear-gradient(135deg,#b21fff,#ff4fd8);
  box-shadow: 0 6px 16px rgba(178,31,255,0.6);
}

.modal-close{
  transition: all 0.35s ease;
}


.modal-body{
  flex:1;
  overflow-y:auto;      
  margin:12px 0;
  padding:0 8px 15px;
}

.modal-text{
  font-size:15.5px;
  line-height:1.8;
  color:#2e2e2e;
  text-align:justify;
}


/* Scroll only after Read More */
.modal-body.expanded{
  overflow-y:auto;
}

.show-more-btn{
  display:block;
  width:160px;
  margin:20px auto 15px;   
  padding:9px 0;
  text-align:center;
  font-size:14px;
  font-weight:600;
  letter-spacing:.5px;
  border-radius:30px;
  background:linear-gradient(135deg,#ff4fd8,#b21fff);
  color:#fff;
  cursor:pointer;
  position:relative;
  overflow:hidden;
  box-shadow:0 12px 28px rgba(178,31,255,.55);
  transition:all .35s ease;
}


/* light sweep shine */
.show-more-btn::after{
  content:"";
  position:absolute;
  top:0;
  left:-120%;
  width:120%;
  height:100%;
  background:linear-gradient(120deg,
      transparent,
      rgba(16, 234, 209, 0.6),
      transparent);
  transition:.6s;
}

.show-more-btn:hover::after{
  left:120%;
}

.show-more-btn:hover{
  transform:translateY(-3px) scale(1.08);
  box-shadow:0 18px 40px rgba(178,31,255,.8);
  background:linear-gradient(135deg,#b21fff,#ff4fd8);
}

.show-more-btn:active{
  transform:scale(.94);
}

/* BODY SCROLL LOCK */
body.modal-open{
  overflow: hidden;
}

.img-box{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-box button {
  width: 50%;
  margin: auto auto 0 auto;   
  padding: 4px 0;
  border: none;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(135deg, #ff4fd8, #b21fff);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(178, 31, 255, 0.4);
}

.img-box button:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 10px 25px rgba(178, 31, 255, 0.6);
  background: linear-gradient(135deg, #b21fff, #ff4fd8);
}

.img-box button:active {
  transform: scale(0.95);
}

.image-marquee {
  overflow: hidden;
  position: relative;
}


.image-track {
  display: flex;
  gap: 40px;
  will-change: transform;
  
}

.img-box {
  width: 350px;
  height: 550px;
  background: #111;
  color: #fff;
  border-radius: 22px;
  padding: 15px;
  box-shadow: 0 18px 40px rgba(0,0,0,.4);
  flex-shrink: 0;
}

.img-box img {
  width: 160px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* AUTO SCROLL */
@keyframes autoScroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* HOVER PAUSE */
.image-marquee:hover .image-track {
  animation-play-state: paused;
}

/* ARROW BUTTONS */
.nav-btn {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(255,255,255,0.15);
  border: none;
  color: #fff;
  font-size: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.nav-btn:hover {
  background: rgba(212, 207, 207, 0.35);
}

.nav-btn.left {
  left: -20px;
}

.nav-btn.right {
  right: -20px;
}





/* CARD */
.img-box {
  width: 250px;
  height: 490px;
  background: #111;
  border-radius: 22px;
  box-shadow: 0 18px 40px rgba(0,0,0,.4);
  flex-shrink: 0;
}

/* IMAGE */
.img-box img {
  width: 190px;
  height: 220px;
  object-fit: cover;
  border-radius: 50% 50% 45% 45%;
  margin-bottom: 10px;
}

/* TEXT */
.img-box p {
  font-size: 14px;
  margin: 3px 0;
}

/* FULL SCROLL */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Hover Pause */
.image-marquee:hover .image-track {
  animation-play-state: paused;
}

</style>








































